@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;600;700&display=swap");
@import "./reset.css";

/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; 

montserrat
Medium 500
SemiBold 600
Bold 700

lato
Regular 400
Bold 700
*/

/* General */
html,
body {
  font-family: "Lato", sans-serif;
}

.title-1,
.title-2 {
  font-family: "Montserrat", sans-serif;
}

.title-1 {
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px red;
}
.title-2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 80px 0;
}

/* header */
.header {
  background: black;
  padding: 20px;
}

.header-socials {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
}

/* banner  */
.banner {
  background-image: url("./../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;

  text-align: center;
}

.banner__wrapper picture img {
  border-radius: 48%;
  border-bottom: 1px solid black;
  min-width: 290px;
}

/* about */
.about__title {
  padding: 0 15px;
  color: brown;
}
.about fieldset {
  border: 2px solid rgb(95, 10, 10);
  border-radius: 10px;
  padding: 15px;
}

.about legend {
  text-align: center;
}

.about-list {
  font-size: 24px;
}

.about-list li img {
  width: 35px;
  vertical-align: middle;
}

.about-list li + li {
  padding-top: 20px;
}

/* knowledge */
.knowledge {
  background: rgb(48, 85, 128);
}

.knowledge .title-2 {
  color: white;
}

.knowledge-list {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 30px;
}

.knowledge-list__item {
  width: 120px;
}
